* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-primary-color: #f9f3f0;
    --bg-secondary-Color: #f6f7fb;
    --heading-color-type1: #ff497c;
    --heading-color-type1: #8c71db;
    --btn-bg-color: #3577f0;
    --bg-news-letter: #d9dde9;
    --border-color: #f6f7fb;
    --font-primary-Color: #292930;
    --font-secondary: #777777;
    --fw-600: 600;
    --fw-500: 500;
    --fw-400: 400;
    --fs-60px: 60px;
    --fs-48px: 48px;
    --fs-35px: 35px;
    --fs-24px: 24px;
    --fs-20px: 20px;
    --fs-15px: 15px
}

body {
    font-family: sans-serif;
}

.container {
    max-width: min(1400px, 90%);
    margin: 0 auto;
}

.row {
    display: flex;
}

.d-flex {
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.my-10px {
    margin: 10px 0;
}

.mx-10px {
    margin: 0 10px;
}

.py-10px {
    padding: 10px 0;
}

.px-10px {
    padding: 0 10px;
}

.btn {
    padding: 7px 15px;
    border-radius: 10px;
    border: transparent;
    cursor: pointer;
}

.banner {
    background-color: #f9f3f0;
    padding: 10px;
    height: 80vh;
}
header{
    position: sticky;
    top: 0;
}
.navBar {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
}

.logoImg img {
    width: 160px;
}

.navBarItems {
    align-content: center;
}

.navBarItems ul li {
    margin: 0 20px;
    cursor: pointer;
}
.navBarItems ul li i{
    padding-right: 9px;
}

.navBarItems ul li:hover {
    color: #3577f0;
    font-weight: 400;
}
.dropDown{
    position: relative;
}
.dropDown-Items {
    position: absolute;
    background-color: #fff;
    width: 150px;
    padding: 5px;
    top: 75px;
    right: 0;
    line-height: 2;
    box-shadow: 2px 2px 3px #2929309f;
    border-radius: 10px;
    opacity: 0;
    z-index: -1;
    transition: all 1s;
}

.dropDown:hover .dropDown-Items {
    opacity: 1;
    top: 50px;
    z-index: 1111;
}

.navBarItemsSmall{
    display: none;
    position: relative;
    font-size: 20px;
}
.smallDropDownItem{
    position: absolute;
    background-color: #fff;
    width: 200px;
    padding: 5px;
    top: 55px;
    right: 0;
    line-height: 2;
    box-shadow: 2px 2px 3px #2929309f;
    border-radius: 10px;
    opacity: 0;
    z-index: -1;
    transition: all 1s;
}
.navBarItemsSmall:hover .smallDropDownItem{
    opacity: 1;
    top: 50px;
    z-index: 1111;
}

.banner-Image{
    background-image: url('../img/Banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    border-radius: 10px;
}
.banner-Content{
    height: 500px;
    align-content: center;
    padding: 0 45px;
}
.banner-offer{
    font-size: calc(15px + 5*(100vw - 320px) / 1400);
    color: #777777;
    padding: 10px 0;
}
.banner-discount{
    border-radius: 60px;
    color: #ff497c;
    background: linear-gradient(90deg, rgba(255, 73, 125, 0.479) 0%, rgba(255, 255, 255, 0.178) 58%);
    padding: 10px;
}

.banne-Heading{
    width: 60%;
    padding: 5px 0;
    font-size: calc(20px + 15 *(100vw - 320px)/1400);
} 

.banner-content{
    font-size: calc(15px + 5*(100vw - 320px)/1400);
    padding: 10px 0;
    width: 60%;
    color: #777777;
}

.banner-btn{
    padding: 7px 15px;
    background-color: #ff497c;
    color: #fff;
    border-radius: 50px;
    border: transparent;
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
}

.categorySection{
    margin: 50px; 
} 

.cat-title{
    font-size: 20px;
    color: #ff497c;
    font-weight: 500;
}
.cat-head{
    margin: 10px 0;
    font-size: calc(25px + 15*(100vw - 320px)/1400);
    color: #292930;
}


@media (max-width:800px) {
    .navBarItems .largeNav{
        display: none;
    }
    .navBarItemsSmall{
        display: block;
    }
}